* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body, .dashboard {
  height: 100%;
}

.dashboard {
  display: grid;
  grid-template: min-content 1fr / min-content 1fr;
}

.header {
  padding: 10px 30px;
  box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.sidebar {
  background-color: hsl(270, 54%, 33%);
  color: white;
  padding: 20px;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-auto-rows: min-content;
  gap: 40px;
  align-items: start;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: hsl(210, 100%, 92%);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.header, .welcome {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header>*:not(.welcome) {
  margin-bottom: -10px;

}

.profile-photo {
  width: 70px;
  border-radius: 50%;
}

h1 {
  /* width: clamp(min-content, min-content, max-content); */
  overflow: hidden;
  width: fit-content;
  flex: 1;
}

.welcome {
  flex: 1;
}

.search-icon {
  margin-left: 35px;
}

.search-icon, .notification-icon {
  width: 20px;
}

input {
  width: 120px;
  border: solid 2px black;
  border-radius: 30px;
  padding: 3px 20px;
  transition: all 2s;
  margin-right: 20px;
}

input:focus {
  background-color: hsl(206, 100%, 90%);
  font-size: 1.125rem;
  width: calc(150px + 16%);
}

/* Styles for the dropdown container */
.dropdown {
  position: relative;
}

/* Style for the dropdown button */
.dropbtn {
  min-width: max-content;
  padding: .5em 1.5em;
  color: white;
  background-color: #A50104;
  font-size: .8rem;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.30) ;
  border-radius: 10px 10px 0px 0px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
  min-width: 130px;
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.35);
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

/* Style for the dropdown content buttons */
.dropdown-content button {
  text-transform: uppercase;
  background-color: white;
  padding: 10px;
  text-align: left;
  display: block;
  width: 100%;
  cursor: pointer;
}

.dropdown-content button {
  border-top: 2px solid #A50104;

}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  gap: 8px;
}

.logo {
  width: 80px;
}

.nav {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1rem;
  align-items: center;
  font-size: 1.125rem;
}

.nav img {
  width: 1.5rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.main h3, .main h4 {
  margin: 0 0 .25em 0;
}

.projects {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-template-rows: max-content;
  grid-auto-rows: 180px;
  gap: 20px;
}

.projects>h3 {
  grid-column: 1 / -1;
  color: hsl(270, 54%, 33%);
  margin-left: 1%;
}

.project {
  display: flex;
}

.project::before {
  content: "";
  min-width: 10px;
  background-color: hsl(41, 98%, 57%);
  border-radius: 15px 0 0 10px;
}

.project .content {
  padding: 20px;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
}

.featured {
  padding: 30px 30px 30px 0;
  display: grid;
  grid-auto-rows: min-content;
  gap: 30px;
}

.featured h3 {
  color: hsl(270, 54%, 33%);
  margin-left: 1%;
  margin: 0px 0px 20px 0px; 
}

.updates div, .trends div {
  background-color: white;
}

.updates {
  display: grid;
  grid-auto-rows: max-content;
}

.update {
  padding: 20px 20px 0;
  font-size: .75rem;
}

.update:last-child {
  padding: 20px;
}

.update .content:not(.update:last-child .content) {
  padding-bottom: 20px;
  border-bottom: solid 2px hsl(41, 98%, 57%);
}

.update:nth-child(2), .trend:nth-child(2) {
  border-radius: 10px 10px 0 0;
}

.update:last-child, .trend:last-child {
  border-radius: 0 0 10px 10px;
}

.trends {
  display: grid;
  grid-auto-rows: max-content;
}

.trend {
  padding: 20px 20px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: .75rem;
}

.trend:last-child {
  padding: 20px;
}

.trend img{
  width: 50px;
  border-radius: 50%;
}