* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

html, body, .dashboard {
  height: 100%;
}

.dashboard {
  display: grid;
  grid-template: min-content 1fr / 250px 1fr;
  gap: 20px;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: lightsteelblue;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: steelblue;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: lightskyblue;
}

.top-section, .bottom-section {
  background-color: white;
  display: flex;
  align-items: center;
}

.search-icon, .notification-icon {
  width: 30px;
}

.profile-photo {
  width: 80px;
  border-radius: 50%;
}

.welcome {
  width: fit-content;
  display: flex;
  align-items: center;
}

.action-buttons {
  display: flex;
  align-items: center;
}



